torch==1.13.1
torchvision==0.14.1
packaging
triton
timm==0.4.12
pytest 
chardet 
yacs 
termcolor
submitit 
tensorboardX
fvcore
numpy<2
opencv-python
lmdb
pyyaml
pickle5
matplotlib
seaborn
einops
--extra-index-url  https://download.pytorch.org/whl/cu117